<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>425234244909-liqhmlb5v8nrqb8ttfuc02ggooe85uj7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.425234244909-liqhmlb5v8nrqb8ttfuc02ggooe85uj7</string>
	<key>API_KEY</key>
	<string>AIzaSyDqJ5l_CxlG6kHENOa_4zAzmoOfkHXR07k</string>
	<key>GCM_SENDER_ID</key>
	<string>425234244909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.emman.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-4aba9</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-4aba9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:425234244909:ios:8ce2d0744679cf01561fa4</string>
</dict>
</plist>